<% include ../header %>

<header>
  <h1>Ntalk - Dados de contato</h1>
</header>

<section>
  <form action="/contato/<%- id %>?_method=delete" method="post">
    <p><label>Nome:</label><%-contato.nome %></p>
    <p><label>E-mail:</label><%-contato.email %></p>
    <p><button type="submit">Excluir</button></p>
    <a href="/contato/<%- id %>/edit">Editar</a>
  </form>
</section>

<% include ../exit %>
<% include ../footer %>