<% include header %>

<header>
  <h4>Aconteceu algo terrível! :(</h4>
</header>
<p>
  Veja os detalhes do erro:
  <br>
  <%- error.message %>
</p>
<hr>
<p>Que tal voltar <a href="/">Home page</a> :)</p>

<% include footer %>