<!DOCTYPE html>
<html>

<head>
  <meta charset=utf-8>
  <title>Ntalk - Agenda de contatos</title>
</head>

<body>
  <% include ../header.ejs %>
  
  <section>
    <form action="/entrar" method="post">
      <input type="text" name="usuario[nome]" placeholder="Nome" />
      <br>
      <input type="text" name="usuario[email]" placeholder="Email" />
      <br>
      <button type="submit">Entrar</button>
    </form>
  </section>

  <% include ../footer.ejs %>
</body>

</html>